<!DOCTYPE html>
<html lang="en" ng-app="myNodeApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Node App Statistics</title>

  <script src="./assests/js/socket-2-0-4.io.js"></script>
  <script src="./assests/js/raphael-2.1.4.min.js"></script>
  <script src="./assests/js/justgage.js"></script>
  <script src="./assests/js/jquery-3.2.1.slim.min.js"></script>
  <script src="./assests/js/popper-1.12.3.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="./assests/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="./assests/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="./assests/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
  body {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }

  .theme-showcase>p>.btn {
    margin: 5px 0;
  }

  .theme-showcase .navbar .container {
    width: auto;
  }

  .guageWidget {
    width: 170px;
    height: 160px;
    display: inline-block;
    margin: 1em;
  }

  .modal-content {
    width: 800px !important;
  }
</style>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Node System Statistics</a>
      </div>
    </div>
  </nav>
  <div class="container" ng-controller="memoryController as $ctrl" role="main">
    <div ng-show="data.hostname" class="panel panel-default">
      <div class="panel-heading">{{ data.hostname }}
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.open('lg')">History</button>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="guageWidget" id="hostMemory"></div>
          </div>
          <div class="col-sm-3">
            <div class="guageWidget" id="hostCpu"></div>
          </div>
          <div class="col-sm-6">

            <table class="table stats">
              <tbody>
                <tr>
                  <td>
                    <label>Cpu Count</label>
                  </td>
                  <td>{{ data.cpuCount }}</td>
                </tr>
                <tr>
                  <td>
                    <label>Uptime</label>
                  </td>
                  <td>{{ data.upTime | secondsToTime }}</td>
                </tr>
                <tr>
                  <td>
                    <label>Total Memory</label>
                  </td>
                  <td>{{ data.memoryTotal | bytes }}</td>
                </tr>
                <tr>
                  <td>
                    <label>Platform</label>
                  </td>
                  <td>{{ data.platform }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="!data.hostname" class="alert alert-info text-center" role="alert">
      <strong>Please Wait!</strong> Awaiting Host Data.
    </div>

    <div ng-repeat="peer in peers" class="panel panel-default">
      <div class="panel-heading">{{ peer.hostname }}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="guageWidget" canvas-memory></div>
          </div>
          <div class="col-sm-3">
            <div class="guageWidget" canvas-cpu></div>
          </div>
          <div class="col-sm-6">

            <table class="table stats">
              <tbody>
                <tr>
                  <td>
                    <label>Cpu Count</label>
                  </td>
                  <td>{{ peer.cpuCount }}</td>
                </tr>
                <tr>
                  <td>
                    <label>Uptime</label>
                  </td>
                  <td>{{ peer.upTime | secondsToTime }}</td>
                </tr>
                <tr>
                  <td>
                    <label>Total Memory</label>
                  </td>
                  <td>{{ peer.memoryTotal | bytes }}</td>
                </tr>
                <tr>
                  <td>
                    <label>Platform</label>
                  </td>
                  <td>{{ peer.platform }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    var myNodeApp = angular.module('myNodeApp', ['ui.bootstrap']);

    myNodeApp.controller('memoryController', ['$scope', 'restQuery', 'socket', '$uibModal', '$log', '$document', function ($scope, restQuery, socket, $uibModal, $log, $document) {

      var $ctrl = this;

      $ctrl.animationsEnabled = true;

      $ctrl.open = function (size, parentSelector) {
        var parentElem = parentSelector ?
          angular.element($document[0].querySelector('.modal-demo ' + parentSelector)) : undefined;
        var modalInstance = $uibModal.open({
          animation: true,
          ariaLabelledBy: 'modal-title',
          ariaDescribedBy: 'modal-body',
          templateUrl: 'myModalContent.html',
          controller: 'ModalInstanceCtrl',
          controllerAs: '$ctrl',
          size: size,
          scope: $scope,
          appendTo: parentElem,
          resolve: {
            items: function () {
              return $scope.chartOptions;
            }
          }
        });

        modalInstance.result.then(function (selectedItem) {
          $ctrl.selected = selectedItem;
        }, function () {
          // $log.info('Modal dismissed at: ' + new Date());
        });
      };

      function convertHc() {

        var newData = [];

        for (var i = 0; i < $scope.memory.length; i++) {
          var newEntry = [
            $scope.memory[i].time_now,
            $scope.memory[i].cpu_usage
          ]
          newData.push(newEntry);
        }
        return newData;
      }

      function calcMemUsage(free, total) {
        var result = Math.round(((total - free) / total) * 100);
        return result;
      }

      function convertHcMem() {

        var newData = [];

        for (var i = 0; i < $scope.memory.length; i++) {
          var newEntry = [
            $scope.memory[i].time_now,
            calcMemUsage($scope.memory[i].free_mem, $scope.memory[i].total_mem)
          ]
          newData.push(newEntry);
        }
        return newData;
      }

      var hostMemory = new JustGage({
        id: "hostMemory",
        value: 0,
        min: 0,
        max: 100,
        title: "Memory",
        shadowOpacity: 0.7,
        shadowSize: 3,
        shadowVerticalOffset: 5,
        gaugeWidthScale: 0.5,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -15,
          bottomlength: 8,
          bottomwidth: 4,
          color: '#000000',
        }
      });

      var hostCpu = new JustGage({
        id: "hostCpu",
        value: 0,
        min: 0,
        max: 100,
        title: "Cpu",
        shadowOpacity: 0.7,
        shadowSize: 3,
        shadowVerticalOffset: 5,
        gaugeWidthScale: 0.5,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -15,
          bottomlength: 8,
          bottomwidth: 4,
          color: '#000000',
        }
      });

      socket.on('data', function (data) {
        $scope.data = data;
        hostMemory.refresh(data.memoryUsage);
        hostCpu.refresh(data.cpuUsage);
      });

      $scope.peers = [];

      function addPeer(record) {

        //check if the array has the hostname already within it
        for (var i = 0; i < $scope.peers.length; i++) {
          if ($scope.peers[i].hostname == record.hostname) {
            $scope.peers[i].memoryUsage = record.memoryUsage;
            $scope.peers[i].cpuUsage = record.cpuUsage;
            $scope.peers[i].upTime = record.upTime;
            $scope.peers[i].time = record.time;
            return true;
          }
        }

        $scope.peers.push(record);
        return false;
      }

      socket.on('peer-data', function (data) {
        console.log('recevied')
        addPeer(data);
      });

      restQuery.memory().then(function (data) {
        $scope.memory = data.data.rows;

        // Sample options for first chart
        $scope.chartOptions = {
          chart: {
            zoomType: 'x'
          },
          title: {
            text: 'CPU and Memory usage over time.'
          },
          subtitle: {
            text: document.ontouchstart === undefined ?
              'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
          },
          xAxis: {
            type: 'datetime'
          },
          yAxis: {
            title: {
              text: 'Usage'
            }
          },
          legend: {
            enabled: true
          },
          plotOptions: {
            area: {
              fillColor: {
                linearGradient: {
                  x1: 0,
                  y1: 0,
                  x2: 0,
                  y2: 1
                },
                stops: [
                  [0, Highcharts.getOptions().colors[0]],
                  [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                ]
              },
              marker: {
                radius: 2
              },
              lineWidth: 1,
              states: {
                hover: {
                  lineWidth: 1
                }
              },
              threshold: null
            }
          },
          series: [{
            type: 'area',
            name: 'CPU Usage',
            data: convertHc()
          }, {
            name: 'Memory Usage',
            data: convertHcMem()
          }]
        };






        Highcharts.theme = {
          colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
            '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
          chart: {
            width: 768,
            backgroundColor: {
              linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
              stops: [
                [0, '#2a2a2b'],
                [1, '#3e3e40']
              ]
            },
            style: {
              fontFamily: '\'Unica One\', sans-serif'
            },
            plotBorderColor: '#606063'
          },
          title: {
            style: {
              color: '#E0E0E3',
              textTransform: 'uppercase',
              fontSize: '20px'
            }
          },
          subtitle: {
            style: {
              color: '#E0E0E3',
              textTransform: 'uppercase'
            }
          },
          xAxis: {
            gridLineColor: '#707073',
            labels: {
              style: {
                color: '#E0E0E3'
              }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            title: {
              style: {
                color: '#A0A0A3'

              }
            }
          },
          yAxis: {
            gridLineColor: '#707073',
            labels: {
              style: {
                color: '#E0E0E3'
              }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            tickWidth: 1,
            title: {
              style: {
                color: '#A0A0A3'
              }
            }
          },
          tooltip: {
            backgroundColor: 'rgba(0, 0, 0, 0.85)',
            style: {
              color: '#F0F0F0'
            }
          },
          plotOptions: {
            series: {
              dataLabels: {
                color: '#B0B0B3'
              },
              marker: {
                lineColor: '#333'
              }
            },
            boxplot: {
              fillColor: '#505053'
            },
            candlestick: {
              lineColor: 'white'
            },
            errorbar: {
              color: 'white'
            }
          },
          legend: {
            itemStyle: {
              color: '#E0E0E3'
            },
            itemHoverStyle: {
              color: '#FFF'
            },
            itemHiddenStyle: {
              color: '#606063'
            }
          },
          credits: {
            style: {
              color: '#666'
            }
          },
          labels: {
            style: {
              color: '#707073'
            }
          },

          drilldown: {
            activeAxisLabelStyle: {
              color: '#F0F0F3'
            },
            activeDataLabelStyle: {
              color: '#F0F0F3'
            }
          },

          navigation: {
            buttonOptions: {
              symbolStroke: '#DDDDDD',
              theme: {
                fill: '#505053'
              }
            }
          },

          // scroll charts
          rangeSelector: {
            buttonTheme: {
              fill: '#505053',
              stroke: '#000000',
              style: {
                color: '#CCC'
              },
              states: {
                hover: {
                  fill: '#707073',
                  stroke: '#000000',
                  style: {
                    color: 'white'
                  }
                },
                select: {
                  fill: '#000003',
                  stroke: '#000000',
                  style: {
                    color: 'white'
                  }
                }
              }
            },
            inputBoxBorderColor: '#505053',
            inputStyle: {
              backgroundColor: '#333',
              color: 'silver'
            },
            labelStyle: {
              color: 'silver'
            }
          },

          navigator: {
            handles: {
              backgroundColor: '#666',
              borderColor: '#AAA'
            },
            outlineColor: '#CCC',
            maskFill: 'rgba(255,255,255,0.1)',
            series: {
              color: '#7798BF',
              lineColor: '#A6C7ED'
            },
            xAxis: {
              gridLineColor: '#505053'
            }
          },

          scrollbar: {
            barBackgroundColor: '#808083',
            barBorderColor: '#808083',
            buttonArrowColor: '#CCC',
            buttonBackgroundColor: '#606063',
            buttonBorderColor: '#606063',
            rifleColor: '#FFF',
            trackBackgroundColor: '#404043',
            trackBorderColor: '#404043'
          },

          // special colors for some of the
          legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
          background2: '#505053',
          dataLabelsColor: '#B0B0B3',
          textColor: '#C0C0C0',
          contrastTextColor: '#F0F0F3',
          maskColor: 'rgba(255,255,255,0.3)'
        };

        // Apply the theme
        Highcharts.setOptions(Highcharts.theme);
      });

    }]).directive('canvasMemory', CanvasMemory);

    myNodeApp.directive('canvasCpu', CanvasDirectiveCpu);

    function CanvasMemory() {
      return {
        restrict: "A",
        link: function (scope, element) {

          scope.$watch('peer.memoryUsage', function (newValue, oldValue) {
            if (newValue !== oldValue) {
              // You actions here

            }

            hostMemory.refresh(scope.peer.memoryUsage)
          }, true);

          var hostMemory = new JustGage({
            parentNode: $(element)[0],
            value: 0,
            min: 0,
            max: 100,
            title: "Memory",
            shadowOpacity: 0.7,
            shadowSize: 3,
            shadowVerticalOffset: 5,
            gaugeWidthScale: 0.5,
            symbol: '%',
            pointer: true,
            pointerOptions: {
              toplength: -15,
              bottomlength: 8,
              bottomwidth: 4,
              color: '#000000',
            }
          });

        }
      };
    }

    function CanvasDirectiveCpu() {
      return {
        restrict: "A",
        link: function (scope, element) {

          scope.$watch('peer.memoryUsage', function (newValue, oldValue) {
            if (newValue !== oldValue) {
              // You actions here

            }

            hostCpu.refresh(scope.peer.cpuUsage)
          }, true);

          var hostCpu = new JustGage({
            parentNode: $(element)[0],
            value: 0,
            min: 0,
            max: 100,
            title: "Cpu",
            shadowOpacity: 0.7,
            shadowSize: 3,
            shadowVerticalOffset: 5,
            gaugeWidthScale: 0.5,
            symbol: '%',
            pointer: true,
            pointerOptions: {
              toplength: -15,
              bottomlength: 8,
              bottomwidth: 4,
              color: '#000000',
            }
          });

        }
      };
    }

    myNodeApp.directive('myCurrentTime', ['$interval', 'dateFilter',
      function ($interval, dateFilter) {
        // return the directive link function. (compile function not needed)
        return function (scope, element, attrs) {
          var format = 'M/d/yy h:mm:ss a',  // date format
            stopTime; // so that we can cancel the time updates

          // used to update the UI
          function updateTime() {
            //element.text(dateFilter(new Date(), format));

            var timeCheck = (scope.peer.time / 1000) + (5
              * 60);

            var time = new Date(1970, 0, 1).setSeconds(timeCheck);
            var current = new Date().getTime();

            // console.log('time : ' + time)
            // console.log('is less : '+current)
            if (time <= current) {
              //remove item from scope
              for (var i = 0; i < scope.peers.length; i++) {
                if (scope.peers[i].hostname == scope.peer.hostname) {
                  scope.peers.splice(i, 1);
                }
              }
            }
          }

          // watch the expression, and update the UI on change.
          scope.$watch(attrs.myCurrentTime, function (value) {
            // format = value; we dont use this
            updateTime();
          });

          // watch the expression, and update the UI on change.
          scope.$watch(scope.peer.time, function (value) {
            // format = value; we dont use this
            updateTime();
          });

          stopTime = $interval(updateTime, 1000);

          // listen on DOM destroy (removal) event, and cancel the next UI update
          // to prevent updating time after the DOM element was removed.
          element.on('$destroy', function () {
            $interval.cancel(stopTime);
          });
        }
      }]);

    myNodeApp.factory('restQuery', ['$http', '$q', '$log', function ($http, $q, $log) {
      return {
        memory: function () {
          var deferred = $q.defer();

          $http({
            method: 'GET',
            url: '/stats',
            headers: {
              "X-Requested-With": "XMLHttpRequest"
            }
          }).then(
            function (data, status, headers, config) {
              deferred.resolve(data);
            },
            function (data, status, headers, config) {
              deferred.reject({
                data: data,
                status: status,
              });
            }
            );

          return deferred.promise;
        }
      }
    }]);

    myNodeApp.filter('bytes', function () {
      return function (bytes, precision) {
        if (isNaN(parseFloat(bytes)) || !isFinite(bytes)) return '-';
        if (typeof precision === 'undefined') precision = 1;
        var units = ['bytes', 'kB', 'MB', 'GB', 'TB', 'PB'],
          number = Math.floor(Math.log(bytes) / Math.log(1024));
        return (bytes / Math.pow(1024, Math.floor(number))).toFixed(precision) + ' ' + units[number];
      }
    });

    myNodeApp.filter('secondsToDateTime', [function () {
      return function (seconds) {
        return new Date(1970, 0, 1).setSeconds(seconds / 1000);
      };
    }])

    myNodeApp.filter('secondsToTime', function () {

      function padTime(t) {
        return t < 10 ? "0" + t : t;
      }

      return function (_seconds) {
        if (typeof _seconds !== "number" || _seconds < 0)
          return "00:00:00";

        var hours = Math.floor(_seconds / 3600),
          minutes = Math.floor((_seconds % 3600) / 60),
          seconds = Math.floor(_seconds % 60);

        return padTime(hours) + ":" + padTime(minutes) + ":" + padTime(seconds);
      };
    });

    myNodeApp.factory('socket', function ($rootScope) {
      var socket = io.connect();
      return {
        on: function (eventName, callback) {
          socket.on(eventName, function () {
            var args = arguments;
            $rootScope.$apply(function () {
              callback.apply(socket, args);
            });
          });
        },
        emit: function (eventName, data, callback) {
          socket.emit(eventName, data, function () {
            var args = arguments;
            $rootScope.$apply(function () {
              if (callback) {
                callback.apply(socket, args);
              }
            });
          })
        }
      };
    });















    myNodeApp.controller('ModalInstanceCtrl', function ($uibModalInstance, items) {
      var $ctrl = this;
      $ctrl.items = items;
      $ctrl.selected = {
        item: $ctrl.items[0]
      };

      $ctrl.ok = function () {
        $uibModalInstance.close($ctrl.selected.item);
      };

      $ctrl.cancel = function () {
        $uibModalInstance.dismiss('cancel');
      };
    });


    myNodeApp.directive('hcChart', function () {
      return {
        restrict: 'E',
        template: '<div></div>',
        scope: {
          options: '='
        },
        link: function (scope, element) {
          Highcharts.chart(element[0], scope.options);
        }
      };
    });

    myNodeApp.component('modalComponent', {
      templateUrl: 'myModalContent.html',
      bindings: {
        resolve: '<',
        close: '&',
        dismiss: '&'
      },
      controller: function () {
        var $ctrl = this;

        $ctrl.$onInit = function () {
          $ctrl.items = $ctrl.resolve.items;
          $ctrl.selected = {
            item: $ctrl.items[0]
          };
        };

        $ctrl.ok = function () {
          $ctrl.close({ $value: $ctrl.selected.item });
        };

        $ctrl.cancel = function () {
          $ctrl.dismiss({ $value: 'cancel' });
        };
      }
    });          
  </script>
  </div>
  <!-- /container -->
</body>
</html>